@model List<EventModel>

<h2 class="header text-center">Discover Our Events</h2>

@if (Model == null || !Model.Any())
{
    <p>No events available at the moment.</p>
}
else
{
    @foreach (var eventModel in Model)
    {
        <br />
        <div class="card mb-3">
            <img src="@eventModel.ImageURL" class="card-img-top" alt="..." height="400" width="400">
            <div class="card-body" style="background:rgb(241, 221, 237)">
                <h5 class="card-title" style="text-align:center;text-align:center">@eventModel.EventName</h5>
                <p class="card-text">@eventModel.Description</p>
                <p style="text-align:center">EVENT DATES FROM : @eventModel.StartDate TO : @eventModel.EndDate</p>
                <p style="text-align:center">TICKET PRICE : ₹  @eventModel.Price</p>
                <p class="card-text" style="text-align:center"><small class="text-body-secondary">LOCATION : @eventModel.Location</small></p>
                <div style="text-align:center;">RATING : @eventModel.Rating   <button class="rating" style="background:green;margin:auto;border:none;border-radius:10px;">  ⭐⭐⭐⭐⭐ </button></div>
                <button style="display:block;margin:10px auto;background:skyblue;color:white;border:none;height:40px;width:100px;border-radius:10px;"> <a href="@Url.Action("Index","Seat")" style="text-decoration:none;">Book Ticket</a> </button>
                <div><button style="display:block;margin:10px auto;color:skyblue;border:solid 1px blue;height:40px;width:100px;border-radius:10px;"><a class="card-text text-decoration-none" href="@Url.Action("Index","UserReview")">Reviews</a></button></div>
            </div>
        </div>
        <br />
        <br />
        <br />
    }
}

